@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
:root {
    --fontMono: 'Montserrat', sans-serif;
    --fontOpen: 'Open Sans', sans-serif;
}

header {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 12px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    padding-top: 10px;
}

header nav ul a {
    font: 400 1em var(--fontMono);
    color: #FFF;
    margin-left: 20px;
}

header nav ul a:hover {
    border-top: 5px solid #53d153;
    padding-top: 5px;
}

header nav .active {
    font: 700 1em var(--fontMono);
    color: #FFF;
    margin-left: 30px;
    padding-top: 5px;
    border-top: 5px solid #53d153;
}

header nav img {
    margin-right: 250px;
    margin-top: 6px;
}

header nav form {
    display: flex;    
    margin-top: 5px;
    margin-right: 20px;
}

header nav input {
    opacity: 0.92;
    width: 160px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 13px 0 0 13px;
    padding-left: 13px;
    font: 500 1em var(--fontMono);
}

header nav input::placeholder {
    color: #111111;
}

header nav button {
    opacity: 0.92;
    background-color: #FFF;
    border: none;
    outline: none;
    border-radius:0 13px 13px 0;
    height: 28px;
    cursor: pointer;
}
header nav button:hover {
    transform: translateY(0);
}

.container1 {
    width: 675px;
    margin: auto;
}

.container1 h1 {
    font: 700 3.3375em var(--fontMono);
    color: #FFF;
    text-align: center;
    margin-top: 250px;
    position: relative;
    left: -1000;
    animation-name: h1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes h1 {
    from {
        left: -1000px;
    }
    to {
        left: 0;
    }
}

.container1 button {
    display: block;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    background-color: #53d153;
    width: 210px;
    height: 47px;
    border-radius: 23px;
    border: none;
    outline: none;
    font: 1.175em var(--fontMono);
    color: #FFF;
    text-align: center;
    transition: all 0.3s ease 0s;
    position: relative;
    right: -1000;
    animation-name: button;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes button {
    from {
        right: -1000px;
    }
    to {
        right: 0;
    }
}

.container1 form {
    width: 120px;
    margin: auto;
    margin-top: 215px;
    position: relative;
}

.container1 a {
    display: block;
    margin: auto;
    background-color: white;
    opacity: 0.8;
    width: 120px;
    height: 25px;
    border-radius: 12px;
    font: 500 .9em var(--fontMono);
    padding-left: 8px;
    padding-top: 3px;
    color: #111111;
}

.container1 i {
    position: absolute;
    font-size: 11px;
    top: 7px;
    right: 10px;
}

#alti .container6>h2, #bes .container5>h2, #dort .container4>h2, #uc .container3>h2, #iki .container2>h2 {
    font: 500 1.25em var(--fontMono);
    letter-spacing: 4px;
    color: #828181;
    text-align: center;
    padding-top: 40px;
}

#alti hr, #bes hr, #dort hr, #uc hr, #iki hr {
    width: 43px;
    height: 2px;
    border: none;
    background-color: #818181;
    margin-top: 13px;
}

#alti .container6>p, #bes .container5>p, #dort .container4>p, #uc .container3>p, #iki .container2>p {
    font: 300 1em var(--fontOpen);
    color: #b7b3b3;
    text-align: center;
    margin-top: 10px;
}

#do {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 73px;
}

.container2 {
    width: 1030px;
    margin: auto;
}

.icon {
    display: block;
    margin: auto;
    height: 142px;
    width: 142px;
    border-radius: 27px;
    background-color: #e0f3e0;
}

#do .icon i {
    font-size: 74px;
    color: #53d153;
    margin-top: 33px;
    margin-left: 34px;
}

.dos h2 {
    font: 600 1.4em var(--fontMono);
    color: #828181;
    text-align: center;
    margin-top: 27px;
}

.dos p {
    font: 300 .9375em var(--fontMono);
    width: 293px;
    color: #828181;
    text-align: center;
    margin-top: 19px;
}

.dos button {
    width: 120px;
    height: 30px;
    background-color: #53d153;
    border-radius: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font: 600 .9em var(--fontMono);
    color: #FFF;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 29px;
    transition: all 0.3s ease 0s;
}

#uc {
    background-color: #54d154;
    padding-bottom: 53px;
}

.container3 {
    width: 980px;
    margin: auto;
}

#alti .container6>h2, #uc .container3>h2 {
    color: #207b20;
}

#alti hr, #uc hr {
    background-color: #1f7b1f;
}

#alti .container6>p, #uc .container3>p {
    color: #2b9b2b;
}

#uc .container3 form {
    display: flex;
    justify-content: center;
    margin-top: 63px;
}

#uc .container3 .active {
    background-color: #2b9b2b;
    color: #FFF;
    border-radius: 16px 0 0 16px;
    width: 121px;
}

#uc .container3 .print {
    border-radius: 0 16px 16px 0;
    width: 67px;
}

#uc .container3 button {
    height: 31px;
    width: 88px;
    background-color: #FFF;
    border: 1px solid #2b9b2b;
    outline: none;
    cursor: pointer;
    font: 500 .85em var(--fontMono);
    color: #2b9b2b;
    text-align: center;
    transition: all 0.3s ease 0s;
}

#uc .container3 button:hover {
    background-color: #2b9b2b;
    color: #FFF;
}

#work {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 58px;
}

.works img {
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 2px;
    transition: transform 1s;
}

.works img:hover {
    transform: scale(1.3, 1.3);
}

#bes .all form button, #uc .more form button {
    width: 186px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2b9b2b;
    font: 1.025em var(--fontMono);
    color: #FFF;
    text-align: left;
    padding-left: 18px;
}
#bes .all form button, #uc .more form button:hover {
    transform: translateY(0);
}

#bes .all form, #uc .more form {
    width: 186px;
    margin: auto;
    margin-top: 56px;
    position: relative;
    transition: all 0.3s ease 0s;
}

#bes .all form:hover, #uc .more form:hover {
    transform: translateY(-7px);
}

#bes .all form i, #uc .more form i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    color: #FFF;
}

#dort {
    padding-bottom: 61px;
}

.container4 {
    width: 760px;
    margin: auto;
}

#test .testi p {
    font: 500 .9em var(--fontMono);
    color: #444444;
    width: 484px;
    text-align: center;
    margin: auto;
}

#arrow {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

#arrow i {
    font-size: 21px;
    color: #dfdfdf;
    margin-top: 16px;
}

#test .testi h2 {
    font: 500 .9em var(--fontMono);
    color: #444444;
    margin-top: 3px;
    margin-left: 8px;
}

#test .testi h3 {
    font: .9em var(--fontMono);
    color: #cccccc;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 7px;
}

#test .testi .ceo {
    border-radius: 50%;
    height: 46px;
    width: 46px;
    border: 2px solid #e1e1e1;
}

#test .testi .ceo img {
    display: block;
    margin: auto;
    margin-top: 5px;
}

#ceos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 18px;
}

#bes {
    background-color: #f2f1f1;
    padding-bottom: 62px;
}

.container5 {
    width: 971px;
    margin: auto;
}

#bes .all form button {
    background-color: #dddcdc;
    color: #a59d9d;
    padding-left: 28px;
    transition: all 0.3s ease 0s;
}

#bes .all form i {
    color: #a59d9d;
}

#client {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 82px;
}

.clients {
    width: 152px;
    margin-left: 90px;
}

.clients img {
    display: block;
    margin: auto;
    margin-top: 60px;
}

.clients:nth-child(1), .clients:nth-child(2), .clients:nth-child(3), .clients:nth-child(5), .clients:nth-child(8) {
    padding-top: 17px;
}

#alti {
    background-color: #53d153;
}

#teams {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    padding-bottom: 63px;
}

.team {
    margin-left: 51px;
}

.team img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
}

.team h2 {
    font: 1em var(--fontMono);
    color: #FFF;
    text-align: center;
    margin-top: 15px;
}

.vl {
    border-left: 2px solid #1f7b1f;
    height: 77px;
    position: relative;
    left: 50%;
    top: 10px;
}

.contact {
    background-color: #c5e9c5;
    width: 84px;
    height: 28px;
    border-radius: 16px;
    margin: auto;
    margin-top: 10px;
    transition: transform 1s;
}

.contact:hover {
    transform: scale(1.2, 1.2);
}

.contact img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 4px;
    transition: transform 1s;
}

.contact img:hover {
    transform: scale(1.3, 1.3);
}

#us {
    background-color: #3eba3e;
    padding-bottom: 25px;
}

#us .us2 {
    display: block;
    margin: auto;
    padding-top: 27px;
    width: 175px;
}

#us button {
    display: block;
    margin: auto;
    margin-top: 27px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #53d153;
    width: 175px;
    height: 40px;
    border-radius: 23px;
    border: none;
    outline: none;
    font: 300 1.0875em var(--fontMono);
    color: #FFF;
    text-align: center;
}

#yeddi {
    background-color: #333333;
    padding-bottom: 32px;
}

.container7 {
    display: flex;
    padding-top: 31px;
}

.about {
    display: block;
    margin: auto;
    margin-left: 90px;
}

.about>h2 {
    font: 400 1em var(--fontMono);
    letter-spacing: 3px;
    color: #dddddd;
    text-align: center;
}

.about hr {
    width: 30px;
    height: 2px;
    border: none;
    background-color: #dddddd;
}

.about p {
    font: .9em var(--fontMono);
    width: 320px;
    height: 236px;
    color: #cccccc;
    text-align: center;
    margin-top: 24px;
}

#post {
    margin-top: 18px;
}

.posts {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 12px;
}

.posts div {
    height: 53px;
}

.posts img {
    height: 53px;
    width: 53px;
    border-radius: 2px;
}

.posts h3 {
    font: 400 .9em var(--fontMono);
    color: #cccccc;
    text-align: center;
    margin-top: 3px;
    margin-left: 8px;
}

.posts span {
    font: 400 .75em var(--fontMono);
    color: #FFF;
    text-align: center;
    padding: 4px 7px;
    border-radius: 2px;
    height: 18px;
    position: relative;
    top: 8px;
    left: 7px;
    background-color: #53d153;
}

.posts .design {
    background-color: #ffba00;
}

.posts .photo {
    background-color: #089cea;
}

.posts .book {
    background-color: #f34c03;
}

.about h4 {
    font: 400 .8em var(--fontMono);
    text-align: center;
    margin: auto;
    color: #7f7f7f;
}

.about .address {
    width: 210px;
}

#number {
    margin-top: 17px;
}

.about form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.about form input {
    width: 322px;
    height: 32px;
    margin-top: 2px;
    background-color: #444444;
    border: none;
    outline: none;
    font: 500 .9em var(--fontMono);
    color: #777777;
    padding-left: 14px;
}

.about form textarea {
    width: 322px;
    height: 131px;
    margin-top: 2px;
    background-color: #444444;
    border: none;
    outline: none;
    font: 500 .9em var(--fontMono);
    color: #777777;
    padding-left: 14px;
}

.about form button {
    width: 322px;
    height: 32px;
    margin-top: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2b9b2b;
    border-radius: 0 0 5px 5px;
    font: 500 .875em var(--fontMono);
    color: #FFF;
    transition: all 0.3s ease 0s;
}

.name {
    border-radius: 5px 5px 0 0;
}

#sekkiz {
    background-color: #212121;
    padding-bottom: 29px;
}

#sekkiz .container8>h2 {
    font: 400 1em var(--fontMono);
    letter-spacing: 3px;
    color: #101010;
    text-align: center;
    padding-top: 26px;
}

#sekkiz hr {
    width: 30px;
    height: 2px;
    border: none;
    margin-top: 7px;
    background-color: #101010;
}

.chanels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.chanels img {
    margin-left: 80px;
}

button:hover {
    transform: translateY(-7px);
}

footer {
    display: flex;
    justify-content: center;
    background-color: #111111;
    padding-bottom: 9px;
}

footer h3 {
    font: 400 .9em var(--fontMono);
    color: #FFF;
    text-align: center;
    padding-top: 11px;
}

@media only screen and (max-width: 992px) {
    header nav {
        flex-direction: column;
    }
    header nav>a {
        display: block;
        margin: auto;
        width: 62px;
    }
    header nav .active {
        margin-left: 0;
    }
    header nav ul {
        display: block;
        margin: auto;
    }
    header nav img {
        margin-right: 0;
        margin-top: 10px;
    }
    header nav form {
        display: flex;
        margin: auto;
        margin-top: 15px;
        width: 200px;
    }
    .container1 {
        width: 483px;
        margin: auto;
        margin-top: 100px;
    }
    .container1 h1 {
        font-size: 2em;
        color: #ffffff;
        font-family: "Montserrat";
        font-weight: 700;
        text-align: center;
        margin-top: 0;
    }
    .container1 form {
        margin-top: 30px;
    }
    .container2, .container3, .container4, .container5, .container7, .container8 {
        width: 483px;
        margin: auto;
    }
    #do {
        flex-direction: column;
    }
    .icon {
        margin-top: 20px;
    }
    .dos p {
        margin: auto;
        margin-top: 5px;
    }
    #work {
        margin-left: 30px;
    }
    #client {
        margin-top: 20px;
        margin-left: 80px;
    }
    #teams {
        flex-direction: column;
    }
    .team {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .container7 {
        flex-direction: column;
    }
    .about {
        display: block;
        margin: auto;
        margin-top: 25px;
    }
    .chanels {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .chanels img {
        margin-left: 0;
        margin-top: 20px;
    }
}